<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Lancamentos-Fabrica</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
    <a class="nav-link" routerLink="/home">início</a>
    </li>
    
    <!-- <li class="nav-item">
    <a class="nav-link" routerLink="/lancamento-list">meus lancamentos</a>
    </li> -->

    <!-- <li class="nav-item">
    <a class="nav-link" routerLink="/lancamento-create">criar lancamentos</a>
    </li> -->

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          tipo lancamento
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/lancamento-despesa">Despesa</a>
          <a class="dropdown-item" routerLink="/lancamento-receita">Receita</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/lancamento-list">Meus Lancamentos</a>
        </div>
      </li>

    </ul>
    </div>
    </nav>