h3 {
    font-size: 50px;
    color: #a6fcfc;
    text-align: center;
    position: absolute;
    margin: 0;
    top: 11%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
   
}