<div class="container" style="margin-top: 70px;">
  <h3>{{ title }}</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lancamento of lancamentos">

        <td>{{ lancamento.id }}</td>
        <td> {{ lancamento.name }}</td>
        <td> {{ lancamento.email }}</td>
        
        <td>
          <button class="btn btn-primary" (click)="selectLancamento(lancamento)"> Mostrar detalhes</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="card text-center" *ngIf="selectedLancamento">
    <div class="card-header">
      # {{selectedLancamento.id}}
    </div>
    <div class="card-block">
      <h4 class="card-title">{{selectedLancamento.name}}</h4>
      <p class="card-text">{{selectedLancamento.description}}</p>
    </div>

  </div>
</div>